// * { border: 1px solid red; }

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: normal;

  margin: 0px;
}

.description {
  overflow: hidden;
  font-weight: normal;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  margin: 0px;
}