<div class='main' [style.width]='width' [style.height]='height'>
  <mat-card>
    <mat-card-title>
      John G. Avildsen
    </mat-card-title>
    <mat-card-content>
      <div class='description'>
        Rocky is a 1976 American sports drama film directed by John G. Avildsen, written by and
        starring Sylvester Stallone.[3]
        It tells the rags to riches American Dream story of Rocky Balboa, an uneducated but kind-hearted working class
        Italian-American boxer working as a debt collector for a loan shark in the slums of Philadelphia. Rocky, a
        small-time
        club fighter, gets a shot at the world heavyweight championship. The film also stars Talia Shire as Adrian, Burt
        Young
        as Adrian's brother Paulie, Burgess Meredith as Rocky's trainer Mickey Goldmill, and Carl Weathers as the
        champion,
        Apollo Creed. It inspired the 'Let's Build Esker Boxing Club' clubhouse building campaign by Irish boxing Club,
        Esker
        ABC several years later.
      </div>
    </mat-card-content>
  </mat-card>
</div>