<app-profile-text-all linesDescription='2' agentName='hello' width='200px'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all linesDescription='2' agentName='まぁでも映画館で観ることの圧倒的な理由の１つは「音」と「映像」ですね。これはどうしても自宅では味わえない。'
  width='200px' agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'>
</app-profile-text-all>
<app-profile-text-all linesDescription='5' agentName='まぁでも映画館で観ることの圧倒的な理由の１つは「音」と「映像」ですね。これはどうしても自宅では味わえない。'
  width='100%' agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'>
</app-profile-text-all>
<app-profile-text-all linesDescription='2' agentName='hello' width='200px' nameOnly=true
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all-with-icon linesDescription='2' agentName='hello' width='200px'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'>
</app-profile-text-all-with-icon>
<!--
<app-profile-text-all nameOnly=true linesDescription='2' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all linesDescription='5' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all [displayAvatar]='false' linesDescription='5' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all [displayAvatar]='false' linesDescription='5'
  agentName='hello world good night good morning good afternoon'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
-->