<app-profile-text-all linesDescription='2' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all nameOnly=true linesDescription='2' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all linesDescription='5' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>
<app-profile-text-all [displayAvatar]='false' linesDescription='5' agentName='hello'
  agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'></app-profile-text-all>