@import '../../common';

// * { border: 1px solid red; }

mat-toolbar {
  height: $height-header;
  padding: $padding-header;
}

.main {
  @include header-main;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
