<div class='main' [style.width]='width'>
  <div class='col-icon'>
    <button mat-icon-button>
      <mat-icon [matBadge]='unreadString()' [matBadgeHidden]='hiddenBadge()' [matBadgePosition]="'above after'"
        [matBadgeColor]='colorBadge()'>
        {{icon()}}
      </mat-icon>
    </button>
  </div>
  <div class='col-profile'>
    <div appRoomName>{{roomName()}}</div>
    <div appRoomDescription *ngIf='!nameOnly' [linesDescription]='linesDescription'>{{room.description}}</div>
    <app-room-properties *ngIf='!nameOnly' [room]='room' [isRoomAgentIn]='isRoomAgentIn'></app-room-properties>
  </div>
</div>