<div class='actions'>
  <div class='actions-left'>
    <div>
      <button mat-icon-button (click)='cancel()'>
        <mat-icon>vertical_align_bottom</mat-icon>
      </button>
    </div>
  </div>
  <div class='padding'></div>
  <div class='actions-right'>
    <div>
      <button mat-raised-button (click)='ok()' color='primary' [disabled]='disabledPost()'>Post</button>
    </div>
  </div>
</div>
<mat-form-field [hintLabel]='hintLabelMessage()'>
  <textarea [(ngModel)]='message' matInput matTextareaAutosize matAutosizeMaxRows='10' matAutosizeMinRows='3'
    [errorStateMatcher]='errorStateMatcherMessage'></textarea>
  <mat-hint align='end'>{{hintMessage()}}</mat-hint>
  <mat-error>{{errorMessage()}}</mat-error>
</mat-form-field>