@import '../../common';

mat-form-field {
  width: 100%;
}

.actions {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.actions-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.padding {
  width: $padding-content;
}