<div class='actions'>
  <div>
    <button mat-raised-button (click)='ok()' color='primary' [disabled]='disabledPost()'>Post</button>
  </div>
  <div>
    <button mat-raised-button (click)='cancel()' color=''>キャンセル</button>
  </div>
</div>
<mat-form-field [hintLabel]='hintLabelMessage()'>
  <textarea [(ngModel)]='message' matInput matTextareaAutosize matAutosizeMaxRows='10' matAutosizeMinRows='3'
    [errorStateMatcher]='errorStateMatcherMessage'></textarea>
  <mat-hint align='end'>{{hintMessage()}}</mat-hint>
  <mat-error>{{errorMessage()}}</mat-error>
</mat-form-field>