@import '~@angular/material/theming';

// * { border: 1px solid red; }

.name {
  width: 100%;
}

.description {
  width: 100%;
}

mat-card-actions {
  text-align: right;
}

.padding {
  height: 10px;
}