<div class='main'>
  <mat-card>
    <div class='random-inputter'>
      <div class='random-inputter-text'>
        <mat-form-field class='name' [color]='colorName()' [hintLabel]='hintLabelName()'>
          <input type='text' matInput [(ngModel)]='info.name' [placeholder]='placeholderName()'
            [readonly]='!changable || disabledName' [maxLength]='maxLengthName' required />
          <mat-hint align='end'>{{hintName()}}</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button [disabled]='!changable || disabledName'>
          <mat-icon (click)='renameAtRandom()'>replay</mat-icon>
        </button>
      </div>
    </div>
    <div class='padding'></div>
    <mat-card-content>
      <div class='random-inputter'>
        <div class='random-inputter-text'>
          <mat-form-field class='description' [hintLabel]='hintLabelDescription()'>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows='1' cdkAutosizeMaxRows='10'
              [placeholder]='placeholderDescription()' [(ngModel)]='info.description' [maxLength]='maxLengthDescription'
              [readonly]='!changable'>
            </textarea>
            <mat-hint align='end'>{{hintDescription()}}</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button [disabled]='!changable'>
            <mat-icon (click)='redescriptionAtRandom()'>replay</mat-icon>
          </button>
        </div>
      </div>
      <div class='padding'></div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class='padding'></div>
      <div class='mat-caption'>最大人数</div>
      <div class='padding'></div>
      <div>
        <mat-radio-group [disabled]='!changable' (change)='changeMaxAgentsRadioGroup($event)'
          [(ngModel)]="selectedMaxAgents" class='max-agents-radio-buttons'>
          <mat-radio-button *ngFor='let ma of recomendMaxAgents' [value]='ma'>{{ma}}人</mat-radio-button>
          <mat-radio-button [value]='5'>その他</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf='selectedMaxAgents > 4'>
        <mat-form-field class='maxAgents'>
          <mat-select [(ngModel)]='selectedMaxAgents' [disabled]='!changable'
            (selectionChange)='changeMaxAgentsSelector($event)'>
            <mat-option *ngFor='let ma of allMaxAgents' [value]='ma'>{{ma}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-hint>最大で{{maxMaxAgents}}人</mat-hint>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class='padding'></div>
    <mat-card-content>
      <div class='padding'></div>
      <div>
        <app-checkbox-with-icon textOn='パスワードあり' textOff='パスワードなし' iconOn='lock' iconOff='lock_open'
          paddingBetween='5px' [(checked)]='info.password' [disabled]='!changable'>
        </app-checkbox-with-icon>
        <div *ngIf='info.password'>
          <mat-form-field class='password' [color]='colorPassword()' [hintLabel]='hintLabelPassword()'>
            <input [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]='placeholderPassword()'
              [(ngModel)]='info.passwordRaw' [errorStateMatcher]='errorStateMatcherPassword' [readonly]='!changable'
              required [maxLength]='maxLengthPassword' />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align='end'>{{hintPassword()}}</mat-hint>
            <mat-error>{{errorPassword()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class='padding'></div>
      <div>
        <app-checkbox-with-icon textOn='公開' textOff='非公開' iconOn='public' iconOff='vpn_lock' paddingBetween='5px'
          [(checked)]='info.public' [disabled]='!changable'></app-checkbox-with-icon>
      </div>
      <div class='padding'></div>
      <div>
        <app-checkbox-with-icon textOn='公式' textOff='非公式' iconOn='location_city' iconOff='home' paddingBetween='5px'
          [checked]='room.fixed' disabled></app-checkbox-with-icon>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color='primary' (click)='save()' [disabled]='disableOK()'>{{textDoneButton}}</button>
    </mat-card-actions>
  </mat-card>
</div>