@import '../common';
// * { border: 1px solid red; }

.main {
  position: absolute;
  padding: $padding-content;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.logo {
  text-align: center;
}

.subtitle {
  padding: $padding-content;
}

.description {
  padding: $padding-content;
}

.buttons {
  padding: $padding-content;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.footer-text {
  text-align: center;
  width: 100%;
}