<mat-toolbar color='primary'>
  <div class=''>Chat spot</div>
</mat-toolbar>
<mat-card>
  <mat-card-subtitle>昔ながらのチャットサービスだよ！</mat-card-subtitle>
</mat-card>
<mat-card>
  <mat-card-title>どんな人でも</mat-card-title>
  <div class='sub-title'>アカウント登録不要</div>
  <div class='sub-title'>ブラウザだけあればOK</div>
</mat-card>
<mat-card class='buttons'>
  <button color='primary' (click)='routeToTop()' mat-raised-button>チャットを開始する</button>
</mat-card>
<mat-card>
  <mat-card-title>いろんな人とも</mat-card-title>
  <div class='sub-title'>みんなでワイワイ</div>
  <div class='sub-title'>2人でしんみり</div>
</mat-card>
<mat-card>
  <mat-card-title>どんどん誘っちゃえ！</mat-card-title>
  <div class='sub-title'>1on1リクエスト</div>
  <div class='sub-title'>部屋への招待</div>
</mat-card>
<mat-toolbar class='footer' color='primary'>
  <div class='mat-caption'>
    Copyright © 2018 Suzuito
  </div>
</mat-toolbar>