<mat-card class='main'>
  <div class='logo'>
    <img src='assets/ss.png' />
  </div>
  <mat-card-subtitle class='subtitle'>人類の最大の敵とは何か？それは<strong>暇（ヒマ）</strong>だ。あなたを暇から救うためにこのサイトはやってきた。
  </mat-card-subtitle>
  <div class='description mat-body-1'>
    アカウント登録不要。1対1でもグループでも楽しめる。あなただけのチャットルームを作って、お友達をどんどん誘っちゃおう！</div>
  <div class='padding'></div>
  <div class='buttons'>
    <button color='primary' (click)='routeToTop()' mat-raised-button>チャットを開始する</button>
  </div>
  <div class='padding'></div>
  <div class='padding-footer'></div>
</mat-card>
<app-init-footer></app-init-footer>