<div mat-dialog-title appAgentName [oneLine]='false'>{{agentName()}}</div>
<div mat-dialog-content>
  <div appAgentDescription [linesDescription]='10'>{{agentDescription()}}</div>
  <div class='padding'></div>
  <div>
    <mat-form-field [style.width]="'100%'">
      <textarea matInput [(ngModel)]='data.message' placeholder='一言メッセージ'></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color='primary' (click)='clickSendRequest()'>リクエストを送る</button>
</div>