@import '../common';

// * { border: 1px solid red; }

.main {
}

mat-slider {
  width: 100%;
}

.slider {
  width: 100%;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.padding {
  width: $padding-content;
}