@import '../common';

// * { border: 1px solid red; }

app-room-header {
  position: fixed;
  top: $height-header;
  width: 100%;
}

.main {
  position: absolute;
  top: $height-header;
  width: 100%;
}