<app-header002 [style.right]='rightHeader()'></app-header002>
<div class='main'>
  <router-outlet></router-outlet>
</div>
<div class='ops' [style.right]='rightOps()'>
  <div class='ops-row'>
    <div>
      <button mat-mini-fab color='primary' (click)='routeToAnyRoomRoute()'>
        <mat-icon>{{iconRoomRoute()}}</mat-icon>
      </button>
    </div>
    <div class='padding-ops-buttons'></div>
    <div>
      <button mat-mini-fab color='primary' (click)='exitRoom()'>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class='padding-ops-buttons'></div>
  <div class='ops-row'>
    <div>
      <button mat-mini-fab color='primary' (click)='routeToAgentMessages()'
        [disabled]='unreadAgentMessagesBadgeHidden()'>
        <mat-icon *ngIf='!unreadAgentMessagesBadgeHidden()' [matBadge]='unreadAgentMessages()' matBadgeColor='accent'>
          notifications</mat-icon>
      </button>
    </div>
    <div class='padding-ops-buttons'></div>
    <div>
      <button mat-mini-fab (click)='routeToInfo()' color='primary'>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-toolbar class='delete-label' color='warn' *ngIf='willDeleted()'>
  <div class='delete-label-div'>
    もうすぐ削除されます
  </div>
</mat-toolbar>