@import '../common';

// * { border: 1px solid red; }

app-header002 {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.main {
  position: absolute;
  padding-top: $height-header;
  width: 100%;
}

.ops {
  position: fixed;

  top: $padding-content + $height-header;
  right: $padding-content;
}

.padding-ops-buttons {
  height: 10px;
}
