<div mat-dialog-title>ユーザー設定</div>
<div mat-dialog-content>
  <div class='main'>
    <div class='mat-caption'>プロフィール</div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]='data.name' placeholder="名前">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput mat-autosize [(ngModel)]='data.description' placeholder="一言メッセージ"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class='main'>
    <div class='mat-caption'>設定</div>
    <div class='checkbox'>
      <app-checkbox-with-icon paddingBetween='5px' icon='public' text='一般公開を許可'>
      </app-checkbox-with-icon>
    </div>
  </div>
  <div class='main'>
    <div class='actions'>
      <div>
        <button mat-raised-button color='primary' (click)='clickUpdate()' [disabled]='disabledUpdate()'>更新</button>
      </div>
      <div>
        <button mat-raised-button color='primary' (click)='clickCancel()'>キャンセル</button>
      </div>
    </div>
  </div>
</div>