<div mat-dialog-title>ユーザー設定</div>
<div mat-dialog-content>
  <div class='main'>
    <div class='mat-caption'>プロフィール</div>
    <div class='padding'></div>
    <div>
      <mat-form-field [hintLabel]='hintLabelName()'>
        <input matInput required type='text' [(ngModel)]='data.name' placeholder="名前" [maxLength]='maxLengthName()'>
        <mat-hint align='end'>{{hintName()}}</mat-hint>
        <mat-error>{{errorName()}}</mat-error>
      </mat-form-field>
    </div>
    <div class='padding'></div>
    <div class='padding'></div>
    <div>
      <mat-form-field [hintLabel]='hintLabelDescription()'>
        <textarea matInput mat-autosize [maxLength]='maxLengthDescription()' [(ngModel)]='data.description'
          placeholder="一言メッセージ"></textarea>
        <mat-hint align='end'>{{hintDescription()}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class='padding'></div>
  <div class='main'>
    <div class='mat-caption'>設定</div>
    <div class='checkbox'>
      <app-checkbox-with-icon [(checked)]='data.isPublic' paddingBetween='5px' iconOn='public' textOn='アクティビティ公開'
        iconOff='vpn_lock' textOff='アクティビティ非公開'>
      </app-checkbox-with-icon>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color='primary' (click)='clickUpdate()' [disabled]='disabledUpdate()'>更新</button>
  <button mat-raised-button color='primary' (click)='clickCancel()'>キャンセル</button>
</div>