@import '../../common';
// * { border: 1px solid red; }

.main {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.inputter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  height: $height-header;

  display: flex;
  flex-direction: row;
  z-index: 4;
}

.padding-inputter {
  height: $height-header;
}

.inputter-form {
  width: 90%;
}

.inputter-input {
  width: 100%;
}
