<div class='main'>
  <div *ngFor='let message of messages()'>
    <app-list-room-message-each [message]='message' [agent]='messageAgent(message.agentExternalId)'>
    </app-list-room-message-each>
    <mat-divider></mat-divider>
  </div>
</div>
<div class='padding'></div>
<mat-toolbar class='inputter' color='primary' #inputterToolbar>
  <div class='inputter-form'>
    <mat-form-field class='inputter-input'>
      <input type="text" [(ngModel)]='message' matInput [style.font-size]="'15px'" (keyup)='inputMessage($event)'>
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon>photo</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class='ops'>
  <div>
    <button mat-fab color='primary' (click)='exitRoom()'>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>