<mat-list [style.width]='width' #list>
  <app-list-header *ngIf='!disableHeader' [caption]='caption' (clickAll)='clickAll.emit()'></app-list-header>
  <div class='list' [style.height]='heightList'>
    <div class='list-each' *ngFor='let room of rooms'>
      <app-room-list-each [room]='room' (clickRoom)='clickRoom.emit($event)'>
      </app-room-list-each>
    </div>
  </div>
  <div class='action' *ngIf='!disableMore'>
    <button mat-button color='primary' (click)='clickMore.emit()'>もっと読み込む...</button>
  </div>
</mat-list>