$font-color-middle: #aaa;

$color-foreground: #fff;

$font-size-small: 12px;
$font-size-middle: 16px;
$font-size-big : 20px;
$font-size-very-big : 40px;

$height-header: 60px;
$padding-header: 5px;
@mixin header-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
