@import '../../common';
@import '~@angular/material/theming';

// * { border: 1px solid red; }

mat-toolbar {
  height: $height-header;
  padding: 0;

  width: 100%;
  @include mat-elevation(2);
  z-index: 2;
}

.main {
  @include header-main;
}

.each {
  width: 25%;
  text-align: center;
  // border: 1px solid red;
}
