<mat-card>
  <div class='header'>
    <div class='mat-caption'>アクティブユーザー</div>
    <div class=''>
      <button mat-button color='primary'>全て</button>
    </div>
  </div>
  <div>
    <div class='row'>
      <div class='left'>
        <app-profile-text-all-with-icon linesDescription='1' agentName='hello' width='80%'
          agentDescription='しかし、全ての文字列を表示するには長過ぎてレイアウトが崩れてしまうといった場合には、何らかの方法で文字列を省略する必要があります。'>
        </app-profile-text-all-with-icon>
      </div>
      <div class='right'>
        <button mat-icon-button>
          <mat-icon>message</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>