<mat-list [style.width]='width'>
  <app-list-header *ngIf='!disableHeader' [caption]='caption' (clickAll)='clickAll.emit()'></app-list-header>
  <div class='list' [style.height]='heightList'>
    <div class='list-each' *ngFor='let agent of agents'>
      <app-profile-list-each [agent]='agent' [sizeImg]='sizeImg'
        urlImg='https://images-na.ssl-images-amazon.com/images/I/51gEk-P2nAL.jpg'>
      </app-profile-list-each>
    </div>
  </div>
  <div class='action' *ngIf='!disableMore'>
    <button mat-button color='primary' (click)='clickMore.emit()'>もっと読み込む...</button>
  </div>
</mat-list>