<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav fixedInViewport="true" position="end" mode="push" autoFocus='false' [style.width]="'90%'" #sidenav>
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header-main title="header 1" (clickMenu)='toggleSideNav()' (clickTitle)='routeToTop()'
      (clickNotification)='routeToAgentMessages()' (clickRoomInfo)='routeToRoomInfo()'
      (clickRoomMessage)='routeToRoomMessage()' (clickRoomMember)='routeToRoomMember()'
      [displayRoomButtons]='displayRoomButtons()'></app-header-main>
    <div class='content'>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>