<div class='ops'>
  <button mat-raised-button color='primary' [disabled]='disableButtonIntr()' (click)='intr()'>招待する</button>
</div>
<div class='list'>
  <div class='list-each' *ngFor='let agentInRoomOnlyID of getAgentsInRoomOnlyID()' [style.padding-bottom]="'13px'">
    <div class='list-each-profile' [style.width]="'100%'">
      <app-profile-text-all-with-icon (clickMain)='clickMember(agentInRoomOnlyID)' width='100%' imgMode='small'
        [agent]='getAgent(agentInRoomOnlyID)' linesDescription='1'>
      </app-profile-text-all-with-icon>
    </div>
    <div class='list-each-button'>
      <button (click)='clickRoleSelector(agentInRoomOnlyID)'
        [disabled]='disabledRoleSelector()'>{{roleName(agentInRoomOnlyID)}}</button>
    </div>
    <div class='list-each-checkbox'>
      <mat-checkbox (click)='clickChecked(agentInRoomOnlyID)' [value]='checked(agentInRoomOnlyID)'
        [disabled]='isYourSelf(agentInRoomOnlyID)'></mat-checkbox>
    </div>
  </div>
</div>