@import '../../common';

// * { border: 1px solid red; }

.list {
  padding: $padding-content;
}

.list-each {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // : 3px solid brown;
}

.list-each-checkbox {
  padding-left: $padding-content*2;
  padding-right: $padding-content*2;
}

.ops {
  text-align: center;
  padding: $padding-content;
  height: $height-header * 2;
}

.action {
  text-align: center;
  width: 100%;
}
