<div class='ops'>
  <button mat-raised-button color='primary' [disabled]='disableButtonIntr()' (click)='intr()'>招待する</button>
</div>
<div class='list'>
  <div class='list-each' *ngFor='let agentInRoom of getAgentsInRoom()' [style.padding-bottom]="'13px'">
    <div class='list-each-profile' [style.width]="'100%'">
      <app-profile-text-all-with-icon (clickMain)='clickMember(agentInRoom)' width='100%' imgMode='small'
        [agent]='agentInRoom.agent' linesDescription='1'>
      </app-profile-text-all-with-icon>
    </div>
    <div class='list-each-button'>
      <!--
      <button mat-stroked-button (click)='clickRoleSelector(agentInRoom)'
        [disabled]='disabledRoleSelector()'>{{roleName(agentInRoom)}}</button>
      -->
      <button (click)='clickRoleSelector(agentInRoom)'
        [disabled]='disabledRoleSelector()'>{{roleName(agentInRoom)}}</button>
    </div>
    <div class='list-each-checkbox'>
      <mat-checkbox (click)='clickChecked(agentInRoom)' [checked]='checked(agentInRoom)'
        [disabled]='isYourSelf(agentInRoom)'></mat-checkbox>
    </div>
  </div>
  <div class='action'>
    <button mat-button color='primary' (click)='clickMore()'>もっと読み込む...</button>
  </div>
</div>