// * { border: 1px solid red; }

.main {
  display: flex;
  padding: 0px;
  align-items: flex-start;
}

.user {
  overflow: hidden;
  padding: 5px;
  width: 30%;

  // border: 1px solid red;
}

.body {
  font-weight: normal;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
  width: 70%;

  // border: 1px solid red;
}

.user-name {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
