// * { border: 1px solid red; }

.main {
  display: flex;
  padding: 0px;
  align-items: flex-start;
}

.user {
  overflow: hidden;
  padding: 5px;
  width: 10%;

  // border: 1px solid red;
}


.user-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.body {
  font-weight: normal;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
  width: 90%;

  // border: 1px solid red;
}

.message-actions {
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
}

.message-actions-user-name {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  width: 80%;
}

.message-actions-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // border: 1px solid red;
  width: 20%;
}