<div class='main' [style.flex-direction]='flexDirectionMain()' #domMain>
  <div class='user' [style.text-align]='textAlign()' #domUser>
    <div class='user-name mat-caption' (click)='clickUserName.emit()'>
      {{agentName()}}
    </div>
    <div>
      <app-profile-img mode='small' [src]='agentURLImage()' (click)='clickUserIcon.emit()'></app-profile-img>
    </div>
  </div>
  <!--
  <div class='body mat-body-2'>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
  -->
  <div class='body mat-body-2' #domBody>
    <app-lines [lines]='message.lines'></app-lines>
  </div>
</div>