@import '../../common';

.main {
  position: relative;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.role {
  padding-left: $padding-content;
  padding-right: $padding-content;

  width: 100px;
}

.selector {
  padding-left: $padding-content;
  padding-right: $padding-content * 2;
}

.profile {
  width: 100%;
}