<div class='row'>
  <div class='name mat-title' [style.padding-left]='sizeImgLeftPx()' [style.padding-right]='sizeImgRightPx()'>
    {{agent.name}}
  </div>
  <div class='description mat-body-2' [style.padding-left]='sizeImgLeftPx()' [style.padding-right]='sizeImgRightPx()'>
    {{agent.description}}</div>
  <div class='picture'>
    <app-profile-img mode='small' [src]='agent.urlImage'></app-profile-img>
  </div>
  <div class='action' *ngIf='!disableAction'>
    <button mat-icon-button>
      <mat-icon>message</mat-icon>
    </button>
  </div>
</div>