// * { border: 1px solid red; }

.row {
  position: relative;
}

.name {
  margin-bottom: 0px;
  font-weight: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-weight: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picture {
  position: absolute;
  top: 0;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
}