@import '../../common';

.inputter {
  position: fixed;
  left: 0px;
  bottom: 0px;

  height: $height-header;

  display: flex;
  flex-direction: row;
  z-index: 4;

}
.inputter-form {
  width: 90%;
}

.inputter-input {
  width: 100%;
}
