<mat-card class='inputter' [style.width]='widthInputter()'>
  <div class='inputter-form-multiple' *ngIf='mode === 2'>
    <div class='inputter-form-multiple-actions'>
      <div>
        <button class='text-button' mat-icon-button (click)='uploadImage()'>
          <mat-icon>photo</mat-icon>
        </button>
      </div>
      <div>
        <button class='text-button' mat-icon-button (click)='modeSingle()'>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class='inputter-input-multiple-form'>
      <div class='inputter-input-multiple-form-textarea'>
        <mat-form-field class='inputter-input-multiple-form-textarea-ff' [hintLabel]='hintLabelMessage()'>
          <textarea matTextareaAutosize='true' matAutosizeMinRows='1' matAutosizeMaxRows='10' [(ngModel)]='s.message'
            rows='3' matInput (input)='checkInput($event)' [errorStateMatcher]='s' #textareaMultiple></textarea>
          <mat-hint align='end'>{{hintMessage()}}</mat-hint>
          <mat-error>{{errorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class='inputter-input-multiple-form-button'>
        <button mat-raised-button color='primary' (click)='putRoomsMessages()' [disabled]='disabledPost()'>投稿</button>
      </div>
    </div>
  </div>
  <div class='inputter-form-single' *ngIf='mode === 1'>
    <div class='inputter-input-single'>
      <textarea class='inputter-input-input-single' [(ngModel)]='s.message' (input)='checkInput($event)'
        (keydown)='keydown($event)' matInput matTextareaAutosize='false' #textareaSingle></textarea>
    </div>
    <div class='inputter-input-button-single'>
      <button mat-icon-button [matMenuTriggerFor]='menuInputter'>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
<mat-menu #menuInputter='matMenu'>
  <button mat-menu-item (click)='createRoom()'>
    <mat-icon>add</mat-icon>部屋の作成
  </button>
  <button mat-menu-item (click)='uploadImage()'>
    <mat-icon>photo</mat-icon>画像をアップロード
  </button>
  <button mat-menu-item (click)='modeMultiple()'>
    <mat-icon>vertical_align_top</mat-icon>複数行入力
  </button>
</mat-menu>
<input type='file' hidden #fileInputter />