<div mat-dialog-title appAgentName [oneLine]='false'>{{agent.name}}</div>
<div mat-dialog-content>
  <div class='picture'>
    <app-profile-img [src]='urlImage()' mode='medium'></app-profile-img>
  </div>
  <div appAgentDescription [linesDescription]='10'>{{agent.description}}</div>
</div>
<div class='actions' *ngIf='!readonly'>
  <div>
    <button mat-raised-button color='primary' (click)='clickRequest()'>2人チャットを申込む</button>
  </div>
  <div class='padding'></div>
  <div>
    <button mat-raised-button color='primary' (click)='clickIntr()'>招待する</button>
  </div>
</div>