<div>
  <div mat-dialog-title>招待</div>
  <div mat-dialog-content>
    <div class='padding'></div>
    <div class='mat-body-1'>
      ユーザー
    </div>
    <div class='padding'></div>
    <div>
      <div appAgentName *ngFor='let agentName of agentNames'>{{agentName}}</div>
    </div>
    <div class='padding'></div>
    <div class='mat-body-1'>
      を部屋
    </div>
    <div class='padding'></div>
    <mat-select [(ngModel)]='roomSelected'>
      <mat-option *ngFor='let room of rooms' [value]='room'>
        {{room.name}} ({{room.agents}}/{{room.maxAgents}})
        <mat-icon>{{iconLock(room)}}</mat-icon>
      </mat-option>
    </mat-select>
    <div class='padding'></div>
    <div class='mat-body-1'>
      に招待します
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color='primary' (click)='clickYes()' [disabled]='disabledYes()'>はい</button>
  </div>
</div>